/* Primero: todos los imports */
@import './core.css';
@import './flatpickr.min.css';
@import './style.css';

/* Luego Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales */
:root {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.btn-xs {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1;
}

.btn-xs svg {
    width: 12px;
    height: 12px;
}


